body {
   font-family: 'Arial', sans-serif;
   line-height: 1.6;
   margin: 0;
   padding: 20px;
   background-color: #004225;
   color: #000000;
}
header {
    background-color: #191970;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.instructions {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 20px 0;
}
footer {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}
footer a {
    color: white;
}
a:hover {
    color: #ff0000;
}
.image {
   display: block;
   width: 80%; /* Prend 80% de la largeur du conteneur parent */
   height: auto; /* Conserve les proportions de l'image */
   margin: 20px auto;
}
